/* внешние границы таблицы серого цвета толщиной 100px */
table {
   border: 100px solid grey;
   width: 100%;
   margin:0 auto;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 100px solid grey;
}
/* границы ячеек тела таблицы */
td {
   border: 100px solid grey;
}
